*{
    margin: 0;
        padding: 0;

}
body{

            background-image: url(./bild/photo-1558591710-4b4a1ae0f04d.jpg);

}
.headline1{
    position: absolute;
        width: 379px;
        height: 137px;
        left: 181px;
        top: 464px;
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 74px;
        line-height: 67px;
        color:rgb(0, 0, 0);
}
.Left-C{

    position: absolute;
        width: 170px;
        height: 29px;
        left: 36px;
        top: 49px;
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */
    
    
        color: #000000;
    
        mix-blend-mode: normal;

}
.navi{
    /* box */
    position: absolute;
    display: flex;
    width: 555px;
        height: 81px;
        left: 442px;
        top: 23px;
        border-radius: 6px;

        /* text inside the box */
            height: 100px;
                display: flex;
                min-width: 600px;
                align-items: center;
                justify-content: space-around;
                margin: auto;
                
                
    
        background: #14212B;
}

a{
    /* text style */
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        

}


/* When hovering on text */
a:hover, a:active{
        
        font-size: 24.4px;
        text-decoration: underline;
        text-decoration-color: rgb(206, 221, 241);
        text-decoration-thickness: 5px;
        
        
}

.profil{
    position: absolute;
        width: 661px;
        height: 661px;
        left: 753px;
        top: 315px;
       
}
.profilBackground{
    position: absolute;
        width: 720px;
        height: 745px;
        left: 720px;
        top: 214px;
    
     

}

.im-Vinos{
    position: absolute;
        width: 233px;
        height: 40px;
        left: 181px;
        top: 405px;
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
    
        color: #000000;
}



.social{
    /* Logo 11 */
    
    display:flex;
    justify-content: flex-end;

}
.social > a {
position: relative;
    margin: 5px;
    top: 20px;
        
                
}

.about-graph{
    position: relative
    ;
   
        width: 1110px;
        height: 741px;
        left: 160px;
        top: 151px;
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
        display: flex;
        align-items: center;
   
   
        color: #000000;
}

.connect{
    
    background-image: url(/bild/photo-1558591710-4b4a1ae0f04d.jpg);
}
.Cont{
position: absolute;
    width: 312px;
    height: 78px;
    left: 564px;
    top: 294px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #0C0505;
}

.emi{
position: absolute;
    width: 494px;
    height: 48px;
    left: 467px;
    top: 429px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;

    color: #0C0505;
}

.mobil{
position: absolute;
    width: 272px;
    height: 48px;
    left: 557px;
    top: 512px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;

    color: #0C0505;
}

.workk{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider{
    border-radius: 10px;
    overflow: hidden;
    width: 600px;
    height: 350px;
    border: 7px solid rgb(255, 255, 255);
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  }
  
  .slides{
    width: 500%;
    height: 350px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 800px;
    height: 350px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 600px;
    margin-top: -40px;
  }
  
  .manual-btn{
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    border: 3px solid rgba(0, 0, 0, 0.644);
    padding: 5px;
    width: 30px;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #04d9ff;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    justify-content: center;
    margin-top: 460px;
    display: flex;
    width: 800px;
  }
  
  .navigation-auto div{
    border-radius: 10px;
    transition: 1s;
    border: 3px solid #c43af3;
    padding: 5px;
    width: 30px;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #c43af3;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
   
    background: #c43af3;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #c43af3;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #c43af3;
  }

